<nav class="navbar">
    <ul class="navbar__list navbar__list--left">
        <li>
            <a class="navbar__link navbar__link--brand" href="#"
                ><span class="navbar__link-text">URL S7r</span></a
            >
        </li>
    </ul>

    <ul class="navbar__list navbar__list--right">
        <li>
            <a href="{% url 'link_list' %}" class="navbar__link"
                ><span class="navbar__link-text">My links</span></a
            >
        </li>
        <li>
            <a href="{% url 'link_create' %}" class="navbar__link"
                ><span class="navbar__link-text">Short link</span></a
            >
        </li>
    </ul>
</nav>
