{% extends 'base.html' %}
{% block 'content' %}
    <h1>Register</h1>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" id="username" name="username" />

        <label for="password1">Password</label>
        <input type="password" id="password1" name="password1" />

        <label for="password2">Password Confirmation</label>
        <input type="password" id="password2" name="password2" />

        <div>
            <button type="submit" class="button">Register</button>
        </div>
    </form>
{% endblock %}
